html {
  font-family: sans-serif;
}

.table-component {
  width: 60%;
  margin: auto;
}

.table-component .vehicle-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.chart-component {
  width: 60%;
  margin: auto;
  height: 350px;
  text-align: left;
}

.chart-component .chart-body {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 1px 1px 4px 2px rgba(163, 163, 163, 0.5);
}

.chart-component .chart-body .chart-column {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 300px;
}

.chart-component .chart-body .chart-column .chart-column-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
  flex: 1;
}

.chart-component .chart-body .chart-column .chart-column-top .chart-homeworld-population {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}

.chart-component .chart-body .chart-column .chart-column-top .chart-homeworld-hieght {
  background-color: #949494;
  border: 1px solid #202020;
  color: white;
}

.chart-component .chart-body .chart-column .chart-column-bottom {
  height: 20px;
  padding-top: 8px;
}
